*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  height: 100%;
  /* overflow: hidden; */
}

.nav-list-item {
  list-style: none;
}

#main {
  height: 100%;
  width: 100%;
  background-image: url("../images/pizza1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#main-content {
  padding-top: 40vh;
}

.shop-name h1 {
  font-size: 80px;
}

#order-btn {
  font-size: 40px;
  color: red;
  border: 1px solid white;
}
.btn:hover {
  color: white;
}

#menu-page {
  height: 100%;
  width: 100%;
}
