*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 15px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  height: 100%;
  /* overflow: hidden; */
}

.nav-list-item {
  list-style: none;
}

.nav-list-item a {
  color: white;
}

.nav-list-item a:hover {
  color: red;
}

#cart {
  padding-left: 200px;
}

#main {
  height: 100%;
  width: 100%;
  background-image: url("../images/pizza1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#main-content {
  padding-top: 40vh;
}

.shop-name h1 {
  font-size: 80px;
}

#order-btn {
  font-size: 30px;
  color: red;
  border: 1px solid white;
}
.btn:hover {
  color: white;
}

#menu-page {
  height: 95%;
  width: 100%;
  margin-top: 20px;
  font-size: 15px;
}

#quantity {
  border: 1px solid green;
  padding: 5px;
  font-size: 20px;
}

#pizza-sizes,
#crust-types,
#toppings-types {
  border: none;
  outline: none;
  padding: 10px;
  background-color: white;
}

.card-body .btn:hover {
  color: red;
}

/* Crusts and toppings */
.pizza-toppings {
  font-size: 15px;
  display: none;
}

#online-delivery .btn:hover {
  color: red;
}

/* footer */
#footer {
  height: 20vh;
}

#footer a {
  color: white;
}

#footer a:hover {
  color: red;
}

.info {
  position: relative;
  left: 10px;
}

.info ul li {
  list-style: none;
  font-size: 25px;
}

.fa {
  padding: 20px;
  font-size: 25px;
  width: 50px;
  text-align: right;
  text-decoration: none;
  color: white;
}
